article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

/* Universal Application */

.green {
  color: rgb(101, 201, 101);
}

.orange {
  color: rgb(241, 192, 101);
}

.red {
  color: rgb(216, 121, 121);
}

.dark-olive {
  color: #012c17;
}

html {
  font-family: "Playfair Display", serif;
  font-size: 62.5%;
}

ul {
  margin: 0;
  padding: 0;
}

wrapper {
  max-width: 400px;
  margin: 0 auto;
}
/* Custom CSS */

body {
  height: 100vh;
  background: rgb(247, 247, 247);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      75deg,
      rgba(52, 253, 253, 0.39),
      rgba(176, 255, 131, 0.3)
    ),
    url(../assets/alcohol-bar-blur-300.jpg) no-repeat;
  background-position: cover;
}

header h1 {
  margin: 20px 0 15px 0;
  color: white;
  font-size: 4rem;
}

.time-container {
  display: inline-block;
}

.mode-of-transport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}

.mode-of-transport li {
  list-style-type: none;
  padding: 7px 20px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-of-transport li:first-child {
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.mode-of-transport li:first-child span {
  border: none;
}

.counter.time-text {
  flex: 1 1 auto;
}

span.travel-time-counter {
  width: 123px;
  display: block;
}

.icon {
  width: 30px;
  border-radius: 5px;
}

.mode-of-transport img {
  width: 10%;
  height: 20px;
}

.mode-of-transport p {
  margin: 0;
  font-size: 1.8rem;
}

p.time-text {
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 700;
}

.counter {
  flex: 1 1 80px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.travel-time {
  font-family: "Roboto Mono", monospace;
  flex: 0 0 70px;
  font-weight: 300;
}

/* Store Info. */


.result {
  padding: 10px 30px;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  text-transform: uppercase;
}

.result h3 {
  margin: 0 0 15px 0;
  font-size: 1.6rem;
  font-family: "Playfair Display",
  serif;
}

.result p {
  margin: 8px 0;
  font-weight: 300;
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
}

.travelTime span {
  font-size: 1rem;
}

.make-it {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

/* Utilities */

.utilities {
  text-align: center;
}

.utilities ul {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.utilities li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: Center;
}

.utilities p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}

.util-icon-container {
  font-size: 1.6rem;
}

.util-icon-container button {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 2px solid rgb(40, 204, 204);
  border-radius: 10px;
  margin: 10px 25%;
}
